# when not working try this to update the ignored files
# git rm -r --cached .
# git add .
# git commit -m "fixed untracked files"



*~
*.*~
*.zip
*.tar.gz
cachegrind.out.*
callgrind.out.*


# html
*_files/*

#links
estudio/cpp_language/emacs_howtos
estudio/cpp_language/doc_references/libros_local
estudio/cpp_language/doc_references/the_primer
estudio/cpp_language/doc_references/the_templates

# videos
*.mp4
*.srt

# c++ stuff
*.o
a.out
*.last_diff


#saves
save_old_estudio/*
remote_c++_lib

#ferlib
!/ferlib/logs/logger_2016.tar.gz #exception

#estudio
#estudio-doc
estudio/cpp_language/doc_references/the_standard
estudio/cpp_language/doc_references/standard.pdf
estudio/cpp_language/doc_references/primer/*
#estudio/cpp_language/doc_references/templates/templates.pdf


#code


